FROM ubuntu:22.04

RUN apt-get update && \
    apt-get install -y nginx python3 python3-pip && \
    pip install flask gunicorn

COPY ./myapp /app
WORKDIR /app

CMD service nginx start && gunicorn -b 0.0.0.0:8000 app:app




const SHEET_ID = "1WiMPk7ziQYdmoOgzIRNu3sTIaNkqg6zoZ-oQRDnDolw";
const API_KEY = "AIzaSyBwnJTt3tZV61gebywzYb8MIDk4CTcleHQ";
const RANGE = "sheet1";
const ENDPOINT = `https://sheets.googleapis.com/v4/spreadsheets/${SHEET_ID}/values/${RANGE}?key=${API_KEY}`;


